* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 2rem;
    text-align: end;
}

select {
    width: 120px;
}

input {
    width: 120px;
}

button {
    width: 120px;
}

table {
    margin: 2rem;
    border: 1px solid black;
    border-spacing: 0;
    width: 80%;
    padding: 0;
}

th {
    border-right: 1px solid black;
}

th:last-child {
    border-right: none;
}

td {
    border-right: 1px solid black;
}

td:last-child {
    border-right: none;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: #ccc;
}

tr.base {
    color: red;
}

.currency-th {
    display: flex;
    justify-content: space-around;
}

.arrows {
    font-size: 0.5rem;
    border: none;
    background: none;
    width: initial;
    height: initial;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.buy {
    text-align: end;
}

.sell {
    text-align: end;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
    
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    table {
        width: 40%;
    }
}
